.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .Gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
  }
  .gallery{
    width: 990px;
    display: flex;
    overflow-x: scroll;
  }
  .gallery img{
    filter: grayscale(0.5);
    width: 300px;
    height: 300px;
    transition: transform 0.5s;
  }
  
  .gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
  }
  
  .gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .gallery::-webkit-scrollbar{
    display: none;
  }